[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
rest-framework-simplejwt = "*"
django-cors-headers = "*"
django-oauth-toolkit = "1.5.0" # this is the version that works!
drf-social-oauth2 = "3.0.1"
stripe = "*"
pillow = "*"
django-unfold = "*"

[dev-packages]

[requires]
python_version = "3.11"
